@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    margin:0;
    list-style: none;
    text-decoration: 0;
    padding:0;
}

*:focus {
    outline: none;
}

/* 상단 메뉴 바 */
nav {
    position:fixed;
    width:100%; height:50px; line-height:50px;
    text-align:center;
    background:#FFFFFF;
    border-bottom:1px solid #c7c6c6;
    display:flex;
    justify-content: space-between;
    z-index: 1;
}

nav div#logo {
    position:absolute;
    left:10%; height:100%;
    width:15%;
    font-family: 'TheJamsil5Bold';
    font-size:1.6rem;
}

nav div.userArea {
    position:absolute;
    left:60%;
    width:30%; height:100%; 
    display: flex;
    justify-content: right;
}

nav .userArea div {
    width:20%;
    font-size:1.2rem;
}

/* 검색창 */
nav .userArea #searchArea {
    overflow:hidden;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

nav #searchBar {
    display:none;
    width: 60%; height:70%;
    transform:translateY(-5%);
    margin-left:5%;
    border-radius:15px;
    border:1px solid #c7c6c6;
    text-align:center;
}

article {
    border:1px solid black;
    width:80%; height:900px;
    position:relative;
    top:50px; left:10%;
}

.promotionArea {
    width:100%; height:25%;
    border:1px solid salmon;
}

.promotionArea .arrow {
    position:absolute;
    top:10%;
    width:100%; height:5%;
    font-size:1.6rem;
    display: flex;
    justify-content: space-between;
}

.promotionArea .arrow p {
    width:3%; line-height:45px;
    text-align: center;
}

.promotionArea ul {
    height:100%;
    display: flex;
    justify-content: space-evenly;
}

.promotionArea li {
    width: 15%; height:100%;
    border:1px solid blue;
}

.todayBest {
    margin: 5%;
    font-family: 'NanumSquareNeo-Variable';
    font-size:1.5rem;
}