@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    list-style: none;
    text-decoration: 0;
    padding: 0;
}

*:focus {
    outline: none;
}


/* 상단 메뉴 바 */
nav {
    position: fixed;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #FFFFFF;
    border-bottom: 1px solid #c7c6c6;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

nav div#logo {
    position: absolute;
    left: 10%;
    height: 100%;
    width: 15%;
    font-family: 'TheJamsil5Bold';
    font-size: 1.6rem;
}

nav div.userArea {
    position: absolute;
    left: 60%;
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: right;
}

nav .userArea div {
    width: 20%;
    font-size: 1.2rem;
}

nav .backMain {
    width:10%; height:50px;
    line-height:50px;
    font-size: 1.6rem;
    margin-left:10%;
}

nav .pageTitle {
    font-family: 'NanumSquareNeo-Variable';
    width:20%; height:50px; line-height:50px;
    margin-right:40%;
    font-size:1.4rem;
}

/* 검색창 */
nav #searchBar {
    display: none;
    opacity: 0;
    width: 60%;
    height: 70%;
    transform: translateY(-5%);
    margin-left: 5%;
    border-radius: 15px;
    border: 1px solid #c7c6c6;
    text-align: center;
}

nav .userArea #searchArea {
    overflow: hidden;
    width: 20%;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: width 0.5s;
}

nav .userArea #searchArea.expanded {
    width: 60%;
}

nav .userArea #searchArea.expanded #searchBar {
    display: inline-block;
    opacity: 1;
    transition: opacity 0.5s;
}


#searchResultsArticle {
    display: none;
}

/* Article Common Style */
article {
    width: 80%;
    height: 900px;
    position: relative;
    top: 50px;
    left: 10%;
}

/* Main Page */
#mainPage {
    border: 1px solid gold;
    display:block;
}

/*Promotion Area*/
.promotionArea {
    width: 100%;
    height: 25%;
    border: 1px solid salmon;
}

.promotionArea .arrow {
    position: absolute;
    top: 10%;
    width: 100%;
    height: 5%;
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
}

.promotionArea .arrow p {
    width: 3%;
    line-height: 45px;
    text-align: center;
}

.promotionArea ul {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

.promotionArea li {
    width: 15%;
    height: 100%;
    border: 1px solid blue;
}

/*Today's Best*/
.todayBest {
    margin: 5%;
    font-family: 'NanumSquareNeo-Variable';
    border:1px solid red;
    margin-top:0%;
    font-size: 1.5rem;
}

.todayBest .catTitle {
    padding: 2%;
    font-family: 'NanumSquareNeo-Variable';
    font-size: 1.5rem;
}

.todayBest #rankingList {
    border:1px solid green;
    width:100%;
}

#rankingList li {
    font-size:1.2rem;
    line-height:2.5rem;
    border:1px solid brown;
    display:flex;
    justify-content: space-between;
}

#rankingList li p {
    border:1px solid plum;
    width:30%; height:100%;
    text-align:center;
}

#rankingList li p:first-child {
    width:5%;
}

#rankingList li p:nth-child(2) {
    width:20%;
}

#rankingList li p:nth-child(3) {
    width:10%;
}

#rankingList li p:last-child {
    width:65%;
}

/*Showing results*/
#searchResultsArticle {
    display:none;
    border:1px solid black;
}

#searchResults {
    border:1px solid blue;
    width:80%; height:25%;
    margin-left:10%;
}

#searchResults p {
    font-family: 'NanumSquareNeo-Variable';
    font-size:1.3rem;
    margin-top:5%;
    text-indent: 4.5rem;
}

/*subMenu*/
#subMenu {
    border:1px solid black;
    width:100%; height:5%;
    margin:2% 0;
    display:flex;
    justify-content: space-evenly;
}

/*No Result*/
#nullResults {
    border:1px solid salmon;
    align-items: center;
    display:none;
}

.wrapNotice {
    width:50%; height:50%;
    margin-top:25%; transform:translateY(-50%);
    margin-left:25%;
    color:rgb(197, 194, 194, 0.8);
    text-align:center;
}

.wrapNotice div:first-child {
    position: relative;
    height:60%;
    font-size:6rem;
}

.wrapNotice i {
    position: absolute;
    top:50%;
    transform:translate(-50%, -50%);
}

.wrapNotice div:nth-child(2) {
    height:40%;
    font-size:1.5rem;
    font-family: 'NanumSquareNeo-Variable';
}

.wrapNotice div:nth-child(2) p {
    line-height:2.5rem;
}

.wrapNotice {
    width:50%; height:50%;
    margin-top:25%; transform:translateY(-50%);
    margin-left:25%;
    color:rgb(197, 194, 194, 0.8);
    text-align:center;
}

.wrapNotice div:first-child {
    position: relative;
    height:60%;
    font-size:6rem;
}

.wrapNotice i {
    position: absolute;
    top:50%;
    transform:translate(-50%, -50%);
}

.wrapNotice div:nth-child(2) {
    height:40%;
    font-size:1.5rem;
    font-family: 'NanumSquareNeo-Variable';
}

.wrapNotice div:nth-child(2) p {
    line-height:2.5rem;
}

/* Login Page */

.fillInfo {
    border:1px solid #c7c6c6;
    border-radius:5%;
    position:relative;
    top:8%; left:25%;
    width:50%; height:50%;
}

.fillInfo .logo {
    text-align:center;
    font-family: 'TheJamsil5Bold';
    font-size: 1.6rem;
    padding:5% 0;
}

.fillInfo form {
    margin-top:10%;
}

.fillInfo form label {
    margin-left:20%;
    font-family: 'NanumSquareNeo-Variable';
    font-size:0.9rem;
}

.fillInfo form input {
    margin-left:15%;
}

.fillInfo form .remember {
    border:1px solid green;
}

.fillInfo form button {
    width:20%; height:30px;
    margin-left:50%;
    margin-top:10%;
    transform:translateX(-50%);
    background:none;
    border:1px solid #c7c6c6;
}

.fillInfo form p {
    margin-top:10%;
    text-align:center;
    font-family: 'NanumSquareNeo-Variable';
    font-size:0.8rem;
}